header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    .logo {
        text-align: center;
        font-size: 2em;
        align-items: center;
        height: 45px;
        &__text {
            position: absolute;
            margin: auto;
        }
    }
    .fas {
        font-size: 0.6em;
        right:45%;
        position: relative;
    }
}



