.background-gray {
  background-color: #f6f6f6;
}

.background-white {
  background-color: white;
}

.text-white {
  color: white;
}

.border-radius-25px {
  border-radius: 25px;
  overflow: hidden;
}

.border-radius-15px {
  border-radius: 15px;
  overflow: hidden;
}

.marginblock-reset {
  margin-top: 0px;
  margin-bottom: 0px;
}

.marginblockstart-reset {
  margin-top: 0px;
}

.padding-sides-25px {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-top-60px {
  padding-top: 60px;
}

.padding-bottom-45px {
  padding-bottom: 45px;
}

.margin-right-15px {
  margin-right: 15px;
}

.margin-right-10px {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.title-font-size {
  font-size: 1.6em;
  font-weight: 900;
}

.cursor-pointer {
  cursor: pointer;
}

.menu__body__food__bouton:hover .price {
  animation: size-button2 0.7s ease;
  transform-origin: 100% 50%;
  animation-fill-mode: forwards;
}

.menu__body__food__bouton:hover .menu__body__food__bouton__green {
  animation: size-button3 0.8s ease;
  transform-origin: 100% 50%;
  animation-fill-mode: forwards;
}

.menu__body__food__bouton:hover i {
  animation: spin 0.8s ease;
  transform-origin: 100% 50%;
  animation-fill-mode: forwards;
}

.menu__body__food__bouton:hover .overflow-text {
  width: 290px;
}

@media all and (max-width: 480px) {
  .menu__body__food__bouton:hover .overflow-text {
    width: 230px;
  }
}
@media all and (max-width: 375px) {
  .menu__body__food__bouton:hover .overflow-text {
    width: 200px;
  }
}
@media all and (max-width: 375px) {
  .menu__body__food__bouton:hover .overflow-text {
    width: 150px;
  }
}
@media all and (max-width: 280px) {
  .menu__body__food__bouton:hover .overflow-text {
    width: 100px;
  }
}
.fade-entrees {
  animation: fade 1s ease, size-button 1s ease;
}

.fade-plats {
  animation: fade 2s ease, size-button 2s ease;
}

.fade-desserts {
  animation: fade 3s ease, size-button 3s ease;
}

.fade-body {
  animation: fade-body 2s ease;
}

.loading {
  height: 60px;
  width: 60px;
  color: #d7c0f2;
  display: inline-block;
  position: fixed;
  opacity: 0;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #9356DC;
  animation: spin 2s linear, fade-loading 2s ease;
}

.find-restaurants__explore__submit form button:hover, .menu__commander form button:hover {
  animation: button-color 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-body {
  0% {
    opacity: 0.025;
  }
  10% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-loading {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes size-button {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes size-button2 {
  100% {
    transform: translate(-65px);
    opacity: 1;
  }
}
@keyframes size-button3 {
  100% {
    transform: translate(-20px);
    opacity: 1;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes button-color {
  100% {
    background: linear-gradient(#bd9ee6, #f39ad8);
    box-shadow: 1px 5px 8px 1px #bb95ec;
  }
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.fas {
  font-size: 1.1em;
  font-weight: 800;
  font-family: "Font Awesome 5 Free";
}

.fa-mobile-alt {
  font-size: 1.3em;
}

.fa-check-circle {
  font-size: 1.3em;
}

.menu__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
}

.menu__body__food__title h2 {
  font-weight: normal;
  font-size: 1.2em;
}

.menu__body__food__bouton h3 {
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

img {
  object-fit: cover;
}

input {
  outline-style: none;
}

button {
  border: none;
}

figure {
  margin: 0px;
}

.submit {
  cursor: pointer;
}

hr {
  border-style: none;
  margin: 0px;
}

:focus {
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  cursor: pointer;
}

.find-restaurants__explore__submit form button, .menu__commander form button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.05em;
  border-radius: 25px;
}

.btn-numbers {
  background-color: #9356DC;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  position: relative;
  left: -10px;
}

.fonctionnement-buttons__btn {
  padding: 28px;
  margin-bottom: 27px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  padding-left: 0px;
  box-shadow: 1px 5px 8px 1px #e9e9e9;
}
.fonctionnement-buttons__btn:hover {
  color: #9356DC;
  background: #efe6fa;
  box-shadow: 1px 5px 8px 1px #e4d5f6;
}
.fonctionnement-buttons__btn i {
  opacity: 0.5;
  margin-left: 10px;
}
.fonctionnement-buttons__btn .fa-mobile-alt {
  margin-right: 7px;
}
.fonctionnement-buttons__btn .fa-list {
  margin-right: 2px;
}
.fonctionnement-buttons__btn button {
  background: inherit;
  font-size: 1em;
  font-weight: bold;
  margin-left: 25%;
  margin-right: 25%;
}

@media all and (max-width: 1200px) {
  .fonctionnement-buttons__btn {
    margin-left: 10%;
    margin-right: 10%;
  }
  .fonctionnement-buttons__btn button {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media all and (max-width: 800px) {
  .fonctionnement-buttons__btn {
    margin-left: 10%;
    margin-right: 10%;
  }
  .fonctionnement-buttons__btn button {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media all and (max-width: 480px) {
  .fonctionnement-buttons__btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fonctionnement-buttons__btn button {
    margin-left: 17px;
    margin-right: 0px;
  }
}
@media all and (max-width: 360px) {
  .fonctionnement-buttons__btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fonctionnement-buttons__btn button {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media all and (max-width: 344px) {
  .fonctionnement-buttons__btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .fonctionnement-buttons__btn button {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 0.8em;
    padding-left: 5px;
  }
}
@media all and (max-width: 280px) {
  .fonctionnement-buttons__btn button {
    padding-left: 37px;
  }
}
.menu__body__food__bouton {
  margin-bottom: 20px;
  box-shadow: 1px 5px 8px 1px #e9e9e9;
}
.menu__body__food__bouton h3 {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__body__food__bouton h3 .overflow-text {
  text-overflow: ellipsis;
  width: 290px;
  white-space: nowrap;
}
.menu__body__food__bouton__paragraph {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.menu__body__food__bouton__paragraph .overflow-text {
  text-overflow: ellipsis;
  width: 290px;
  white-space: nowrap;
}
.menu__body__food__bouton__green {
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  height: 75px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  right: 0px;
  position: absolute;
  background-color: #99E2D0;
}
.menu__body__food__bouton__green i {
  color: white;
}

@media all and (max-width: 480px) {
  .menu__body__food__bouton h3 {
    width: auto;
  }
  .menu__body__food__bouton__paragraph .overflow-text {
    overflow: hidden;
    width: auto;
  }
  .menu__body__food__bouton__green {
    height: 76px;
  }
}
@media all and (max-width: 375px) {
  .menu__body__food__bouton h3 {
    width: auto;
    font-size: 1.1em;
  }
  .menu__body__food__bouton__paragraph .overflow-text {
    overflow: hidden;
    width: auto;
    font-size: 0.9em;
  }
  .menu__body__food__bouton__paragraph .price {
    font-size: 0.9em;
  }
  .menu__body__food__bouton__green {
    height: 70px;
  }
}
@media all and (max-width: 360px) {
  .menu__body__food__bouton h3 {
    width: auto;
    font-size: 1em;
  }
  .menu__body__food__bouton__paragraph .overflow-text {
    overflow: hidden;
    width: auto;
    font-size: 0.7em;
  }
  .menu__body__food__bouton__paragraph .price {
    font-size: 0.7em;
  }
  .menu__body__food__bouton__green {
    height: 62px;
  }
}
@media all and (max-width: 280px) {
  .menu__body__food__bouton__paragraph h3, .menu__body__food__bouton__paragraph .overflow-text, .menu__body__food__bouton__paragraph .overflow-text:hover {
    width: 120px;
  }
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
header .logo {
  text-align: center;
  font-size: 3em;
  align-items: center;
  height: 65px;
}
header .logo__text {
  position: absolute;
  margin: auto;
}
header .fas {
  font-size: 0.6em;
  right: 45%;
  position: relative;
}

@media all and (max-width: 480px) {
  header .logo {
    font-size: 2em;
    height: 45px;
  }
}
footer {
  background-color: black;
  opacity: 0.75;
  font-size: 1.05em;
  font-style: normal;
  padding-top: 25px;
  padding-bottom: 30px;
}
footer .logo {
  font-size: 1.15em;
  margin-bottom: 15px;
}
footer li {
  margin-bottom: 10px;
}
footer .fa-utensils, footer .fa-hands-helping {
  font-size: 0.8em;
}

/* Main  - Article - Find Restaurants -Search */
.find-restaurants__search {
  align-items: center;
  background-color: #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0px 4px 3px 0px #e2e2e2;
}
.find-restaurants__search__icon {
  padding-right: 10px;
  padding-left: 10px;
}
.find-restaurants__search input {
  background-color: inherit;
  color: black;
  border: none;
  text-indent: 5px;
  width: 150px;
  font-size: 1em;
  font-weight: 600;
  opacity: 0.6;
}
.find-restaurants__search input::placeholder {
  color: inherit;
}

/* Main  - Article - Find Restaurants - Explore */
.find-restaurants__explore {
  padding-top: 40px;
  padding-bottom: 55px;
  text-align: center;
}
.find-restaurants__explore h1 {
  padding-left: 65px;
  padding-right: 65px;
}
.find-restaurants__explore h2 {
  font-weight: normal;
  font-size: 1.25em;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 30px;
  color: #5d5d5d;
}

/* Main  - Aside */
aside {
  padding-top: 30px;
  padding-bottom: 20px;
}
aside h2 {
  text-align: start;
}

@media all and (max-width: 480px) {
  aside h2 {
    text-align: start;
  }
}
.fonctionnement-buttons {
  padding-top: 15px;
}

/* Main  - Section */
.top-radius {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

@media all and (max-width: 480px) {
  .top-radius {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}
.restaurants-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 750px) {
  .restaurants-blocks {
    display: block;
  }
  .restaurants-blocks__block {
    margin: 0px !important;
    width: auto !important;
  }
}
.restaurants-blocks__block {
  margin: 10px;
  width: 300px;
  cursor: pointer;
}
.restaurants-blocks__block figure {
  height: 193px;
}
.restaurants-blocks__block figure img {
  object-fit: cover;
  width: 100%;
  height: 193px;
}
.restaurants-blocks__block figure .sticker-container {
  bottom: 185px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.restaurants-blocks__block figure .sticker-container .sticker {
  background-color: #99E2D0;
  color: #278870;
  padding: 6px;
  padding-left: 9px;
  padding-right: 9px;
  font-weight: bold;
  border-radius: 2px;
}

.text-footer {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 5px 8px 1px #e9e9e9;
  justify-content: space-between;
}
.text-footer a {
  display: flex;
  flex: 1;
}
.text-footer h2 {
  font-size: 1.15em;
}
.text-footer p {
  font-size: 1em;
  padding-top: 4px;
}
.text-footer__heart {
  align-items: center;
}
.text-footer__heart .submit {
  padding: 0px;
}
.text-footer__heart i {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  font-size: 1.3em;
  transition: all 1.5s ease;
}
.text-footer__heart i:hover {
  color: #9356DC;
  text-shadow: -1px 0 #9356DC, 0 1px #9356DC, 1px 0 #9356DC, 0 -1px #9356DC;
}

/* Main  - Article - Figure */
.main__figure {
  height: 320px;
}
.main__figure img {
  object-fit: cover;
  width: 100%;
  height: 320px;
}

/* Main  - Article - Menu */
.menu {
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-top: 10px;
  position: relative;
  bottom: 65px;
  margin-bottom: -65px;
}

.menu__title h1 {
  font-size: 1.8em;
}
.menu__title .submit {
  padding: 0px;
}
.menu__title .submit i {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #f6f6f6;
  font-size: 2em;
  transition: all 1.5s ease;
}
.menu__title .submit i:hover {
  color: #9356DC;
  text-shadow: -2px 0 #9356DC, 0 2px #9356DC, 2px 0 #9356DC, 0 -2px #9356DC;
}

.menu__body__food__title .underlined-tertiary {
  background-color: #99E2D0;
  width: 50px;
  height: 3px;
  margin-bottom: 15px;
}
.menu__body__food__title h2 {
  margin-bottom: 3px;
}

.menu__commander form {
  padding-top: 37px;
  padding-bottom: 60px;
}
.menu__commander form button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 51px;
  padding-right: 51px;
  font-size: 1.1em;
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
