.find-restaurants__explore__submit, .menu__commander {
    form {
        button {
            background: linear-gradient($color-secondary, $color-primary);
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 1.050em;
            border-radius: 25px;
        }
 
    }
} 

.btn-numbers {
    background-color: $color-primary;
    border-radius: 50%;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    position: relative;
    left: -10px;
}


.fonctionnement-buttons__btn {
    padding: 28px;
    margin-bottom: 27px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding-left: 0px;
    box-shadow: 1px 5px 8px 1px darken($color-background, 5%);
    &:hover {
        color: $color-primary;
        background: lighten($color-primary, 34%);
        box-shadow: 1px 5px 8px 1px lighten($color-primary, 30%);
    }

    i {
        opacity: 0.5;
        margin-left: 10px;
    }
    .fa-mobile-alt {
        margin-right: 7px;
    }
    .fa-list {
        margin-right: 2px;
    }
    button {
        background: inherit;
        font-size: 1em;
        font-weight: bold;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media all and (max-width: 1200px) {
    .fonctionnement-buttons__btn {
        margin-left: 10%;
        margin-right: 10%;
        button {
            margin-left: 25%;
            margin-right: 25%;
        }
    }
}

@media all and (max-width: 800px) {
    .fonctionnement-buttons__btn {
        margin-left: 10%;
        margin-right: 10%;
        button {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

@media all and (max-width: 480px) {
    .fonctionnement-buttons__btn {
        margin-left: 0px;
        margin-right: 0px;
        button {
            margin-left: 17px;
            margin-right: 0px;
        }
    }
}

@media all and (max-width: 360px) {
    .fonctionnement-buttons__btn {
        margin-left: 0px;
        margin-right: 0px;
        button {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

@media all and (max-width: 344px) {
    .fonctionnement-buttons__btn {
        margin-left: 0px;
        margin-right: 0px;
        button {
            margin-left: 0px;
            margin-right: 0px;
            font-size: 0.8em;
            padding-left: 5px;
        }
    }
}

@media all and (max-width: 280px) {
    .fonctionnement-buttons__btn {

        button {

            padding-left: 37px;
        }
    }
}

.menu__body__food__bouton {
    margin-bottom: 20px;
    box-shadow: 1px 5px 8px 1px darken($color-background, 5%);
    h3 {
        margin-bottom: 5px;
        text-overflow: ellipsis;
        width: 290px;
        white-space: nowrap;
        overflow: hidden; 
        .overflow-text {
            text-overflow: ellipsis;
            width: 290px;
            white-space: nowrap;
        }  
    }
    &__paragraph {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 14px;
        padding-bottom: 14px;
        .overflow-text {
            text-overflow: ellipsis;
            width: 290px;
            white-space: nowrap;
        }
    }
    &__green {
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0;
        height: 75px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        right: 0px;
        position: absolute;
        background-color: $color-tertiary;
        i {
          color: white;
        }
    }
}


@media all and (max-width: 480px) {
    .menu__body__food__bouton {
        h3 {
            width: auto;
        }

        &__paragraph {
            .overflow-text {
                overflow: hidden;
                width: auto;
            }
        }

        &__green {
            height: 76px;  
        }
    }
    
}

@media all and (max-width: 411px) {
    .menu__body__food__bouton {
        h3 {
            width: auto;
            font-size: 1.1em;
        }

        &__paragraph {
            .overflow-text {
                overflow: hidden;
                width: auto;
                font-size: 0.9em;
            }
            .price {
                font-size: 0.9em;
            }
        }

        &__green {
            height: 70px;  
        }
    }
    
}

@media all and (max-width: 370px) {
    .menu__body__food__bouton {
        h3 {
            width: auto;
            font-size: 1em;
        }

        &__paragraph {
            .overflow-text {
                overflow: hidden;
                width: auto;
                font-size: 0.7em;
            }
            .price {
                font-size: 0.7em;
            }
        }

        &__green {
            height: 62px;  
        }
    }
    
}

    























@media all and (max-width: 280px) {
    .menu__body__food__bouton__paragraph {
        h3, .overflow-text, .overflow-text:hover {
            width: 120px;
        }

    } 
    
    
}

