.find-restaurants__explore__submit {
    form {
        button {
            background: linear-gradient($color-secondary, $color-primary);
            padding-top: 17px;
            padding-bottom: 17px;
            padding-right: 25px;
            padding-left: 25px;
            font-size: 1.050em;
            border-radius: 27px;
        }
    }
} 