.find-restaurants__explore__submit {
    form {
        button {
            background: linear-gradient($color-secondary, $color-primary);
            padding-top: 17px;
            padding-bottom: 17px;
            font-size: 1.050em;
            border-radius: 25px;
        }
    }
} 

.btn-numbers {
    background-color: $color-primary;
    border-radius: 50%;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    position: relative;
    left: -10px;
}


.fonctionnement-buttons__btn {
    padding: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 0px;
    i {
        opacity: 0.5;
    }
    button {
        background: inherit;
        font-size: 1em;
        font-weight: bold;
    }
}