body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px
}

img {
    object-fit: cover;
}

input {
    outline-style: none;
}

button {
    border: none;
}

figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.submit {
    cursor: pointer;
}