/* Main  - Article - Figure */

.main__figure {
    height: 320px;
    img {
        object-fit: cover;
        width: 100%;
        height: 320px;
    }
}

/* Main  - Article - Menu */
.menu {
    padding-left: 20px;
    padding-right: 20px;
}
.menu__title {
    .submit {
        padding: 0px;
        i {
            -webkit-text-stroke: 2px black;
            color: $color-background;
            font-size: 2em; 
        }
    }
}