/* Main  - Article - Figure */

.main__figure {
    height: 320px;
    img {
        object-fit: cover;
        width: 100%;
        height: 320px;
    }
}

/* Main  - Article - Menu */
.menu {
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    padding-top: 10px;
    position: relative;
    bottom: 65px;
    margin-bottom: -65px;
}
.menu__title {
    h1 {
        font-size: 1.8em;
    }
    .submit {
        padding: 0px;
        i {
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            color: $color-background;
            font-size: 2em;
            transition:  all 0.4s ease;
            &:hover {
               color: $color-primary;
               text-shadow: -2px 0 $color-primary, 0 2px $color-primary, 2px 0 $color-primary, 0 -2px $color-primary;
            }
        }
    }
}

.menu__body__food__title {
    .underlined-tertiary {
        background-color: $color-tertiary;
        width: 50px;
        height: 3px;
        margin-bottom: 15px;
    }
    h2 {
        margin-bottom: 3px;
    }
}

.menu__commander {
    form {
        padding-top: 37px;
        padding-bottom: 60px;
        button {
            background: linear-gradient($color-secondary, $color-primary);
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 51px;
            padding-right: 51px;
            font-size: 1.1em;
            border-radius: 25px;
        }
    }
} 