.border-radius-25px {
    border-radius: 25px;
    overflow: hidden;
}

.border-radius-15px {
    border-radius: 15px;
    overflow: hidden;
}

.marginblock-reset {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.marginblockstart-reset {
    margin-block-start: 0px;
}


.padding-sides-25px {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-top-60px {
    padding-top: 60px;
}

.padding-bottom-45px {
    padding-bottom: 45px;
}